.noSpacing{
  padding: 0;
  margin: 0;
}
.textCenter{
  text-align: center;
}
.btn, .userActionBtn{
  font-size: 17px;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(94, 94, 211);
  color: white;
}
.userActionBtn{
  margin: 0 10px;
  padding: 4px 12px;
}
.btn:hover, .userActionBtn:hover{
  cursor: pointer;
  background-color: silver !important;
  color: black !important;
}
.btn:disabled{
  background-color: silver;
  color: white;
}
.btn:disabled:hover{
  background-color: silver;
  color: white !important;
}
/* **************** HomePage UI *************** */
#HpScr{
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
#HpInnerScr{
  height: 80%;
  width: 85%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}
#HpHeading{
  /* border: 1px solid black; */
  height: 20%;
  font-size: 30px;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#HpLeftSec{
  height: 80%;
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#HpRightSec{
  width: 50%;
  height: 80%;
  /* border: 1px solid black; */
}
#HpRightSec img{
  width: 90%;
  height: 90%;
  /* border: 1px solid black; */
}
#HpSections{
  display: flex;
  width: 100%;
  height: 80%;
}
/* #HpLeftContent button{
  color: white;
} */
#HpLeftContent{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#HpLogin{
  display: block;
  margin: 15px;
}

/* **************** Login UI *************** */
.loginCredentials span{
  display: inline-block;
  width: 250px;
  font-size: 30px;
}
.loginCredentials{
  margin: 25px;
}
.loginCredentials span{
  display: inline-block;
  width: 190px;
  font-size: 30px;
}
.loginCredentials input{
  display: inline-block;
  width: 260px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
}
#loginBtn, #signUpBtn{
  font-size: 20px;
  padding: 8px 20px;
}

/* **************** Account Creation UI *************** */
#CreateAccount{
  height: 100%;
  width: 100%;
  text-align: center;
}
.userDetails{
  font-size: 20px;
  margin: 15px;
}
.userDetails span{
  width: 150px;
  text-align: center;
  display: inline-block;
}
.userDetails input{
  width: 240px;
  font-size: 19px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
}
.userGender{
  width: fit-content !important;
}
#userGenderBox{
  display: inline-block;
  text-align: left;
  width: 240px;
}
.invalidDetails{
  color: red;
}
#dispAccNo{
  height: 100%;
  width: 100%;
  text-align: center;
}
#dispAccNo div{
  margin: 20px;
}
#userDbScreen{
  background-color: rgb(234, 201, 234);
  /* height: 100vh; */
}
#MidSec{
  /* border: 2px solid black; */
  height: 50vh;
  display: flex;
}
#MsLeftSec{
  /* border: 2px solid yellow; */
  width: 70vw;
  height: 100%;
  background-color: rgb(93, 95, 96);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#MsRightSec{
  /* border: 2px solid green; */
  width: 30vw;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
#MsRightSec div{
  padding: 0;
  border: 1px solid black;
}
#MsRightSec img{
  height: 45vh;
  width: 25vw;
  border: 1px solid black;
}
#MsRightSec p{
  border: 1px solid black;
  width: 25vw;
  text-align: center;
  font-weight: bold;
  background-color: aliceblue;
}
.marquee{
  background-color: red;
  margin: 0;
}
#operations{
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}
.operBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.operBox img{
  height: 30vh;
  width: 15vw;
  border: 2px solid black;
  border-radius: 110px;
}
.operBox:hover{
  opacity: 0.5;
  cursor: pointer;
}
#News{
  /* border: 2px solid black; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsBox{
  display: flex;
  width: 85vw;
}
.newsItems{
  height: 45vh;
  margin: 0 30px;
  width: 18vw;
  border: 2px solid black;
  border-radius: 5px;
}
.newsItems:hover{
  opacity: 0.5;
  cursor: pointer;
}
.newsItems img{
  border-radius: 5px;
  height: 80%;
  width: 100%;
}
.newsItems p{
  height: 20%;
  background-color: rgb(67, 67, 216);
  color: white;
  text-align: center;
}
.newsBtn{
  height: 100%;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsBtn button{
  border: 2px solid black;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.newsBtn button:hover{
  background-color: silver;
}
#SMScr{
  height: 20vh;
  background-color: brown;
}
#tags{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tags img{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  display: inline-block;
  margin: 15px;
}
#tags img:hover{
  cursor: pointer;
  opacity: 0.5;
}
#twitter{
  border-radius: 0 !important;
  border: none !important;
}
#devDetails{
  color: white;
  font-size: 25px;
  text-align: center;
}