*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
.noSpacing{
  padding: 0;
  margin: 0;
}
.textCenter{
  text-align: center;
}
.btn, .userActionBtn{
  font-size: 1rem;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(94, 94, 211);
  color: white;
}

nav{
  font-size: 1rem;
}
.userActionBtn{
  margin: 0 0.5rem;
  padding: 0.2rem 0.7rem;
}
.btn:hover, .userActionBtn:hover{
  cursor: pointer;
  background-color: silver !important;
  color: black !important;
}
.btn:disabled{
  background-color: silver;
  color: white;
}
.btn:disabled:hover{
  background-color: silver;
  color: white !important;
}
/* **************** HomePage UI *************** */
#HpScr{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#HpInnerScr{
  height: 80%;
  width: 85%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}
#HpLeftContent h2{
  margin: 20px;
}
#HpHeading{
  padding: 20px;
  height: 20%;
  font-size: 30px;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#HpLeftSec{
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#HpRightSec{
  width: 50%;
  height: 80%;
}
#HpRightSec img{
  width: 90%;
  height: 90%;
}
#HpSections{
  display: flex;
  width: 100%;
  height: 80%;
}
#HpLeftContent{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#HpLogin{
  display: block;
  margin: 15px;
}

/* **************** Login UI *************** */
.loginCredentials span{
  display: inline-block;
  width: 250px;
  font-size: 30px;
}
.loginCredentials{
  margin: 25px;
}
.loginCredentials span{
  display: inline-block;
  width: 190px;
  font-size: 30px;
}
.loginCredentials input{
  display: inline-block;
  width: 260px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
}
#loginBtn, #signUpBtn{
  font-size: 20px;
  padding: 8px 20px;
}

/* **************** Account Creation UI *************** */
#CreateAccount{
  height: 100%;
  width: 100%;
  text-align: center;
}
.userDetails{
  font-size: 20px;
  margin: 15px;
}
.userDetails span{
  width: 150px;
  text-align: center;
  display: inline-block;
}
.userDetails input{
  width: 240px;
  font-size: 19px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
}
.userGender{
  width: fit-content !important;
}
#userGenderBox{
  display: inline-block;
  text-align: left;
  width: 240px;
}
.invalidDetails{
  color: red;
  font-size: 1.5rem;
  height: 3rem;
  margin: 0px;
}
#dispAccNo{
  height: 100%;
  width: 100%;
  text-align: center;
}
#dispAccNo div{
  margin: 20px;
}
#MidSec{
  display: flex;
  flex-wrap: wrap;
}
#MsLeftSec{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 70vw;
  margin: 0;
  height: 50vh;
  overflow: auto;
  background-color: rgb(93, 95, 96);
  color: white;
}
marquee{
  overflow: auto;
}
#MsLeftSec p{
  width: fit-content;
  font-size: 16px;
  margin: 7px;
}
#MsLeftSec a{
  text-decoration: none;
  color: white;
}
#operations a{
  text-decoration: none;
  color: black;
}
#MsRightSec{
  width: 28vw;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
#advertisement{
  color: black;
}
#newsBox a{
  text-decoration: none;
}
#MsRightSec div{
  padding: 0;
  border: 1px solid black;
}
#MsRightSec img{
  height: 45vh;
  width: 25vw;
  border: 1px solid black;
}
#MsRightSec p{
  border: 1px solid black;
  width: 25vw;
  text-align: center;
  font-weight: bold;
  background-color: aliceblue;
}
.marquee{
  background-color: red;
  margin: 0;
}
#operations{
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
.operBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: fit-content;
}
.operBox img{
  height: 240px;
  width: 240px;
  border: 2px solid black;
  border-radius: 150px;
}
.operBox h1{
  font-size: 1.5rem;
  text-align: center;
}
.operBox:hover{
  opacity: 0.5;
  cursor: pointer;
}
#News{
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsBox{
  display: flex;
  width: 85vw;
}
.newsItemsLinks{
  display: flex;
  justify-content: center;
}
.newsItems{
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
}
.newsItems:hover{
  opacity: 0.5;
  cursor: pointer;
}
.newsItems img{
  border-radius: 5px;
  height: 35vh;
  width: 100%;
}
.newsItems p{
  height: 80px;
  margin: 0;
  background-color: rgb(67, 67, 216);
  color: white;
  text-align: center;
  overflow: auto;
}
.newsBtn{
  height: 100%;
  width: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsBtn button{
  border: 2px solid black;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.newsBtn button:hover{
  background-color: silver;
}
#SMScr{
  max-height: 150px;
  background-color: brown;
}
#tags{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tags img{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  display: inline-block;
  margin: 15px;
}
#tags img:hover{
  cursor: pointer;
  opacity: 0.5;
}
#twitter{
  border-radius: 0 !important;
  border: none !important;
}
#devDetails{
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

#BLScr{
  height: 100vh;
}
#BLImage{
  padding: 20px;
  text-align: center;
}
#BLImage img{
  border: 2px solid black;
  height: 300px;
  width: 300px;
  border-radius: 240px;
}
#BLBalance p{
  font-size: 2.2rem;
  text-align: center;
  padding: 10px;
}

#MSRightSec{
  width: 30vw;
}
table{
  font-size: 20px;
}
th, tr{
  width: 10vw;
}


#MSTop{
  height: 70vh;
  width: 100vw;
  background-image: url('../public/MiniStatementRoute.jpeg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#MSTop h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#MSTop img{
  border: 2px solid black;
  height: 300px;
  width: 300px;
  border-radius: 190px;
}
#MSEmoji{
  width: 100vw;
  text-align: center;
}
#MSEmoji img{
  height: 40vh;
}
#MSTable{
  width: 80vw;
  text-align: center;
  margin: auto;
}
#MSTable div{
  border: 2px solid black;
}
#MSTable div table{
  font-size: 1rem;
}
#BLScr{
  position: relative;
}
#BLScr::before{
  content: '';
  background-image: url('https://i.pinimg.com/originals/4d/68/cd/4d68cd156b67ed38303691834e7a9628.gif');
  background-size:contain;
  height: 100vh;
  opacity: 0.5;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.custom-row{
  margin: 100px;
}
#userProfScr{
  display: flex;
}


/* ******************************************************************************** */

#UPImage:hover{
  cursor: pointer;
  opacity: 0.5;
}
#imageInput{
  display: none;
}
#UPImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: aliceblue;
  background-image: url('');
  background-size: 100% 100%;
}

#UPLeft{
  width: 50vw;
  min-height: 100vh;
  border: 2px solid black;
  /* background-color:aliceblue; */
}
#UPRight{
  border: 2px solid black;
  width: 50vw;
  min-height: 100vh;
  background-image: url('https://i.guim.co.uk/img/media/a17dbf5a56492520382dc4c77450c2fdf2dc2ad8/136_0_2683_1611/master/2683.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=ab5eefcf7706b06d71048acba6096410');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#UPDetails{
  width: fit-content;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  margin: auto;
}
#UPDetails p{
  margin: 0.8rem 20px;
  display: inline-block;
  text-align: center;
}
#UPDetails div span{
  display: inline-block;
  text-align: center;
  width: 220px;
}
#MTTop{
  height: 25vh;
  width: 100vw;
  background-image: url("../public/MT2.png");
  background-repeat: no-repeat;
  background-size: 20% 160%;
  background-position: -10% 50%;
}
#MTTopBar{
  font-size: 2.6rem;
  height: 12vh;
  width: 100vw;
  border-radius: 0 0 20px 20px;
  background-color: silver;
  opacity: 0.8;
  font-family: serif;
  text-align: center;
  color: blue;
  font-weight: bold;
}
#MTLeft{
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
  left: 20px;
}
#MTLeft img{
  height: 100%;
  width: 100%;

}
#MTMid{
  display: flex;
}
#MTRight{
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
#MTLeftSecBrdr{
  margin: 0;
  border: 2px solid blue;
  border-radius: 25px;
  height: fit-content;
  width: 85%;
  box-shadow: 10px 10px 15px #888888;
  font-size: 1.3rem;
  text-align: center;
}
#MSRightSec{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#MTRight span{
  display: inline-block;
  text-align: center;
  width: 7.6rem;
}
#MTRight input{
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 60%;
}
.MTInputs{
  margin: 1.2rem;
}
#payBtn{
  padding: 5px 30px;
  font-size: 25px;
} 

@media only screen and (min-width: 320px) and (max-width:768px){
  html{
    font-size: 16px;
  }
  .operBox img{
    height: 150px;
    width: 150px;
  }
  #UPImage{
    height: 200px;
    width: 200px;
  }
  #userProfScr{
    flex-direction: column-reverse;
  }
  #UPLeft{
    width: 100vw;
    min-height: fit-content;
  }
  #UPRight{
    width: 100vw;
    min-height: 50vh;
    background-size: 100% 100%;
  }
  #MTTop{
    background-size: 50% 130%;
    background-position: -40% 60%;
  }
  #MTLeft{
    left: 0;
    width: 40vw;
    height: 60vh;
  }
  #MTRight{
    width: 60vw;
  }
  #MTLeft img{
    height:70% ;
  }
  #MSEmoji img{
    height: 30vh;
  }
  #MSTable{
    width: 100vw;
  }
  
}


@media only screen and (min-width: 768px) and (max-width:1256px){
  html{
    font-size: 18px;
  }
  #UPImage{
    height: 250px;
    width: 250px;
  }
  #UPLeft{
    width: 60vw;
    min-height: fit-content;
  }
  #UPRight{
    width: 40vw;
    min-height: 100vh;
    background-size: 100% 100%;
  }
  #MTLeftSecBrdr{
    width: 80%;
  }
  #MTLeft{
    left: 0;
    width: 40vw;
    height: 60vh;
  }
  #MSTable{
    width: 100vw;
  }
  
}


@media only screen and (min-width: 1256px) and (max-width:1568px){
  html{
    font-size: 20px;
  }
  #MTLeftSecBrdr{
    width: 65%;
  }
}


@media only screen and (min-width: 768px) and (max-width:1568px){
}
@media only screen and (min-width: 310px) and (max-width:500px){
  #HpSections{
    flex-direction: column-reverse;

  }
  #HpLeftSec, #HpRightSec{
    width: 100%;
    text-align: center;
  }
  #MsRightSec div{
    text-align: center;
  }
  #MsRightSec img, #MsRightSec p{
    width:80%;
    margin: auto;
  }
  #MsLeftSec{
    width: 100vw;
  }
  #MsRightSec{
    width: 100vw;
  }
  #UPDetails div span{
    display: block;
  }
  .operBox{
    width: 100vw;
  }
  #UPDetails div p{
    text-align: center;
    display: block;
  }
  #MTTop{
    height: 20vh;
  }
  #MTLeft{
    width: 100vw;
    height: 50vh;
  }
  #MTRight{
    width: 100vw;
  }
  #MTMid{
    flex-direction: column;
  }
  #BLImage img{
    border: 2px solid black;
    height: 250px;
    width: 250px;
    border-radius: 240px;
  }
  #MSTop{
    height: 50vh;
  }
  #MSTop img{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 190px;
  }
  #MSEmoji img{
    height: 20vh;
  }
  #MSTable div table{
    font-size: 8px;
  }
  .navbar-brand{
    display: none;
  }
  .userActionBtn{
    font-size: 12px;
    margin: 2px;
  }
  .form-check label{
    font-size: 12px;
  }
}
@media only screen and (min-width: 300px) and (max-width:920px){
  #MTRight span{
    width: 100%;
    text-align: center;
  }
  #MTRight input{
    width: 90%;
    text-align: center;
    margin: 2px;
  }
  
}
@media only screen and (min-width: 500px) and (max-width:768px){
  #MsRightSec{
    width: 30vw;
  }
  #MsRightSec img, #MsRightSec p{
    width: 100%;
  }
  .loginCredentials span{
    font-size: 18px;
    width: fit-content;
  }
  .loginCredentials input{
    font-size: 18px;
    width: 170px;
  }
  #loginBtn,#signUpBtn{
    font-size: 18px;
    padding: 5px 15px;
  }
}